<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:chf="http://www.chf.com/schema/chf"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.chf.com/schema/chf http://www.chf.com/schema/chf/parser.xsd">

	<chf:smconfig id="smconfig" initState="SI">
		<chf:transfer from="SI" to="S1" event="E1"/>
		<chf:transfer from="S1" to="S2" event="E2"/>
	</chf:smconfig>

</beans>